<div id="<%= dom_id blog %>" >
<p class= "show-title">
  
    <%= blog.title %>
  </p>


 
  <p class= "show-p">
   
    <%= blog.paragraph_2 %>
  </p>

  

<style>
body {
  background-color : rgba(0,0,0,0.1)
}

.center {
  position : absolute;
  top : 25%;
  left:10%;
  transform : translate(-50% , -50%);
}

p {
  color :black;
}

.show-title{
  color : #000;
  font-weight : 700;
  font-size : 3rem;
  text-align : center;
  display : flex;
  justify-content: center;
}

.show-p {
  color : rgba(0,0,0,0.3);
  font-weight : 100;
  font-size : 3rem; 
}

</style>

 